extends ../shared/template
block content
  h2 New Item
  form(method='post', action='/people/#{id}/items')
    input(name='method', type='hidden', value='put')
    input(name='name', type='text', placeholder='Name', autofocus=true)
    input(name='photo', type='text', placeholder='Photo')
    input(name='value', type='number', placeholder='Value')
    input(name='count', type='number', placeholder='Count')
    button Add Item
